<!-- lista_productos.html -->
{% extends 'gerencia/baseG.html' %}

{% block content %}
  <h2>Lista de Productos</h2>
  
  <ul>
    {% for producto in productos %}
      <li>
        Articulo: {{ producto.articulo }} <br> Categoria:  {{ producto.categoria }} <br>
        Precio: ${{ producto.precio }} <br> Marca: {{ producto.marca }} <br> Stock: {{producto.stock}} {% comment %} - Proveedor: {{producto.proveedor}}  {% endcomment %}<br> Descripcion: {{producto.descripcion}} <br><br>
        <a href="{% url 'editarProducto' producto.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'eliminarProducto' producto.id %}" class="btn btn-danger">Eliminar</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Agregar Nuevo Producto</h2>
  <form method="post" action="{% url 'crearProducto' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar Producto</button>
  </form>
{% endblock %}
