{% extends 'gerencia/baseG.html' %}

{% block titulo %}Listado clientes{% endblock%}

{% block contenido %}
<h1 class="mt-4">Listado clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'indexGerencia' %}">Gerencia</a></li>
    <li class="breadcrumb-item active">Listado cliente</li>
</ol>


<div class="card">
    <div class="card-header">Carga cliente</div>
    <div class="card-body">
        <form action="{% url 'indexCliente' %}" method="post">
            {% csrf_token %}
            {% include 'gerencia/cliente/form.html' %}
        </form>
    </div>
</div>
<button><a href="cliente_nuevo.html"></a></button>
{% endblock %}